IDB_IMAGEBACKGROUND   PNG "res/BackgroundPanel.png"
IDB_PLAY              PNG "res/Play.png"
IDB_PLAY_PRESSED      PNG "res/Play_pressed.png"
IDB_PAUSE             PNG "res/Stop.png"
IDB_PAUSE_PRESSED     PNG "res/Stop_pressed.png"
IDB_NEXT              PNG "res/Next.png"
IDB_NEXT_PRESSED      PNG "res/Next_pressed.png"
IDB_PREV              PNG "res/Prev.png"
IDB_PREV_PRESSED      PNG "res/Prev_pressed.png"
